#container{
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr 1fr; */
	/*grid-template-rows: 1fr 2fr 1fr; */
	grid-template-areas:
		"sidebar header header header "
		"main main main main"
		"footer footer footer footer";
    grid-gap: 1em; /* add to both columns and rows */
	column-gap: 1em; /* just columns */
	grid-row-gap: 10px; /* just rows */
    max-width;
	margin: 0 auto;
    
}

#header{
    background-color: darkgoldenrod;
	grid-area: header;
    text-align: center;
    height: 100px;
    
    
    
}

#main{
   background-color: darkgreen;
    color: white;
	grid-area: main;
    text-align: center;
}

#sidebar{
   background-color: darkolivegreen;
    color: white;
	grid-area: sidebar;
    height:100px;
}

#footer{
   background-color: darkslategrey;
    color:white;
	grid-area: footer;
    text-align: center;
}

@media (max-width: 400px) {
	#container {
		ßgrid-template-areas: 
			"header header header"
			"sidebar sidebar sidebar"
			"main main main"
			"footer footer footer";
	}
}