#container{
    max-width: 960px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas:
		"header header header header "
		"sidebar sidebar main main"
		"footer footer footer footer";
    grid-gap: 1em; /* add to both columns and rows */
	column-gap: 1em; /* just columns */
	grid-row-gap: 10px; /* just rows */
    
}

#header{
    background-color: darkgoldenrod;
	grid-area: header;
    text-align: center;
    
}

#main{
   background-color: darkgreen;
    color: white;
	grid-area: main;
    text-align: center;
}

#sidebar{
   background-color: darkolivegreen;
    color: white;
	grid-area: sidebar;
}

#footer{
   background-color: darkslategrey;
    color:white;
	grid-area: footer;
    text-align: center;
}